* {
  font-family: 'Roboto', sans-serif;
}

button:focus {
  outline: 0;
}

body {
  background-color: black;
  color: white;
}

.container {
  text-align: center;
}

.container p {
  font-weight: 700;
  font-size: 100px;
  padding-top: 13%;
  height: 15px;
}

#button-start {
  position: fixed;
  left: 610px;
  font-weight: 700;
  color: #0004ff;
  background-color: #00ff19;
  box-shadow: none;
  border: none;
  width: 60px;
  height: 30px;
  border-radius: 20px;
}

#button-reset {
  top: 420px;
  left: 611px;
  position: fixed;
  background-color: black;
  border: none;
  color: white;
  border-radius: 20px;
  width: 60px;
  height: 30px;
  box-shadow: none;
}

#user-limit {
  position: fixed;
  border: 1px solid red;
  text-align: center;
  background-color: black;
  color: magenta;
  height: 30px;
  top: 460px;
  left: 585px;
  font-size: 15px;
  width: 100px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
